





{%- if settings.newsletter_system == 'by_shopify_form' -%}
{%- assign formId = 'Contact_' | append: section.id -%}
{%- form 'customer', id: formId -%}
{%- if form.posted_successfully? -%}
<p class="form-message form-message--success form-success">{{ 'general.newsletter_form.confirmation'| t }}</p>
{%- else -%}
{%- if form.errors -%}
<div class="form-message form-message--error">
  {{ form.errors | default_errors }}
</div>
{%- endif -%}
<div id="mc_embed_signup_scroll" class="validate mc-form">
  <div id="mc-form" class="mc-form subscribe-form" >
    <input class="email" type="hidden" name="contact[tags]" value="newsletter">
    <input class="email" type="email" name="contact[email]" id="Email" value="{% if customer %}{{ customer.email }}{% endif %}"
           placeholder="{{ 'general.newsletter_form.newsletter_email'| t }}" aria-label="{{ 'general.newsletter_form.newsletter_email'| t }}" {% if form.errors %}aria-invalid="true"{% endif %} autocorrect="off" autocapitalize="off">

    <div class="clear">
      <input type="submit" value="Subscribe" name="commit" id="Subscribe" class="button">
    </div>

  </div>
</div>
{%- endif -%}
{%- endform -%}
{%- elsif settings.newsletter_system == 'by_mailchimp' -%}
<!-- Newsletter Form -->
<form action="{{ settings.newsletter_action }}" method="post" name="mc-embedded-subscribe-form" 
      id="mc-embedded-subscribe-form" class="validate mc-form" target="_blank" novalidate>
  <div id="mc_embed_signup_scroll">
    <input type="email" name="EMAIL" class="email" placeholder="{{ settings.email_placeholder }}" required>
    <div class="mc-news" aria-hidden="true">
      <input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value="">
    </div>
    <div class="clear">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
  </div>
</form>
{%- endif -%}
