{% if section.settings.product_tab_enable %}
<div class="product-description-review-area" id="section-{{ section.id }}">
  <div class="container">
    <div class="product-description-review text-center">
      <div class="description-review-title nav" role=tablist>        
        {% if section.settings.tab_1_enable %}
        <a class="active" href="#description" data-toggle="tab" role="tab" aria-selected="true">
          {{ section.settings.des_tab_title }}
        </a>
        {% endif %}

        {% if section.settings.tab_2_enable %}
        <a href="#review" data-toggle="tab" role="tab" aria-selected="false">
          {{ section.settings.review_tab_title }}
        </a>
        {% endif %}

        {% if section.settings.tab_3_enable %}
        <a href="#comments" data-toggle="tab" role="tab" aria-selected="false">
          {{ section.settings.comment_tab_title }}
        </a>
        {% endif %}

        {% if product.description contains '[product_video]' %}
        <a href="#video" data-toggle="tab" role="tab" aria-selected="false">{{ section.settings.video_tab_title }}</a>
        {% endif %}

        {%assign i = 0  %}
        {% for block in section.blocks %}
      {% case block.type %}
      {% when 'custom_tab' %}
        <a href="#custom_tab_{{ i }}" data-toggle="tab" role="tab" aria-selected="false">{{ block.settings.custom_tab_title }}</a>
        {% assign i = i | plus: 1 %}
      {% endcase %}
      {% endfor %}
      </div>


      <div class="description-review-text tab-content">
        {% if section.settings.tab_1_enable %}
        <div class="tab-pane active show fade" id="description" role="tabpanel">
          {% if product.description contains '[product_description]' %}            
          {% assign product_description_first = product.description | split:'[/product_description]' | first %}
          {% assign product_description_final = product_description_first | split:'[product_description]' | last %} 
          {{ product_description_final }}
          {% endif %}
        </div>
        {% endif %}

        {% if section.settings.tab_2_enable %}
        <div class="tab-pane fade" id="review" role="tabpanel">
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        </div>
        {% endif %} 

        {% if section.settings.tab_3_enable %}
        <div class="tab-pane fade" id="comments" role="tabpanel">
          {% if section.settings.product_page_comments_box =='disqus_comment' %}
          {% include 'disqus-comment' %}
          {% endif %}
          <!-- disqus comment box end -->                
          <!-- facebook comment box start -->
          {% if section.settings.product_page_comments_box == 'facebook_comment' %}
          {% include 'facebook-comment' %}
          {% endif %}
        </div>
        {% endif %} 

        {% if product.description contains '[product_video]' %}
        <div class="tab-pane fade" id="video" role="tabpanel">                   
          {% assign product_video_first = product.description | split:'[/product_video]' | first %}
          {% assign product_video_final = product_video_first | split:'[product_video]' | last %} 
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ product_video_final }}" frameborder="0" allowfullscreen></iframe>          
        </div>
        {% endif %} 

        {%assign i = 0  %}
        {% for block in section.blocks %}
      {% case block.type %}
      {% when 'custom_tab' %}
        <div class="tab-pane fade" id="custom_tab_{{ i }}" role="tabpanel">
          {{ pages[block.settings.custom_page_handle].content }}
        </div>
        {% assign i = i | plus: 1 %}
      {% endcase %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}


{%- include 'section-style' -%}


<style>
  
  #section-{{ section.id }} .description-review-title a {
    color: {{ section.settings.tab_text_color }};
}
    #section-{{ section.id }} .description-review-title a:hover {
    color: {{ section.settings.tab_text_hover_color }};
}
  
  #section-{{ section.id }} .description-review-title a.active {
    color: {{ section.settings.tab_text_active_color }};
    text-decoration: underline;
    text-underline-position: under;
}
  
  
 </style> 




{% schema %}
  {
    "name": "Product Tab",
    "settings": [
		{
            "type": "checkbox",
            "id": "product_tab_enable",
            "label": "Show Product Tab Section",
            "default": true
        },
		{
            "type": "header",
            "content": "Tab-1 (Description)"
        },
		{
            "type": "checkbox",
            "id": "tab_1_enable",
            "label": "Show Description Tab",
            "default": true,
			"info": "Product Description comes from short code - Full Description: [product_description] Your content or text here [/product_description]"
        },
        {
            "type": "text",
            "id": "des_tab_title",
            "label": "Description Tab Title",
            "default": "Description"
        },
		{
            "type": "header",
            "content": "Tab-2 (Review)"
        },
		{
            "type": "checkbox",
            "id": "tab_2_enable",
            "label": "Show Review Tab",
            "info": "Install Free Apps for Product Review [Click Here](https:/\/\apps.shopify.com/\product-reviews)",
            "default": true
        },
        {
            "type": "text",
            "id": "review_tab_title",
            "label": "Review Tab Title",
            "default": "Reviews"
        },
		{
            "type": "header",
            "content": "Tab-3 (Comments Box)"
        },
		{
            "type": "checkbox",
            "id": "tab_3_enable",
            "label": "Show Comment Tab",
            "default": true
        },
        {
            "type": "text",
            "id": "comment_tab_title",
            "label": "Comment Tab Title",
            "default": "Comments"
        },
        {
            "type": "radio",
            "id": "product_page_comments_box",
            "label": "Select comments box",
            "options": [
              {
                "value": "disqus_comment",
                "label": "Disqus comments"
              },
              {
                "value": "facebook_comment",
                "label": "Facebook comments"
              }
            ],
            "default": "disqus_comment"
        },
        {
            "type": "text",
            "id": "facebook_comments_post_limit",
            "label": "FacebooK Comment Limit",
            "default": "10"
        },
        {
            "type": "text",
            "id": "disqus_shortname",
            "label": "Your Store Name",
            "default": "demo-store",
            "info": "Disqus Shortname (Get your shortname)[disqus.com](http:\/\/disqus.com)"
        },
		{
            "type": "header",
            "content": "Tab-4 (Video)"
        },
		{
            "type": "paragraph",
            "content": "Use Shortcode in your product description to show Video tab- [product_video]Video ID[/product_video]"
        },
		{
            "type": "paragraph",
            "content": "[How to Get Video ID](https:\/\/image.prntscr.com/image/P7-HVQuzSlyPO2vOpHX5LQ.png)"
        },
        {
            "type": "text",
            "id": "video_tab_title",
            "label": "Video Tab Title",
            "default": "Video"
        },
		{
          "type": "header",
          "content": "Color"
        },
        {
           "type": "color",
           "id": "tab_text_color",
           "label": "Tab Color",
           "default": "#666"
        },
        {
           "type": "color",
           "id": "tab_text_hover_color",
           "label": "Tab Hover Color",
           "default": "#333333"
        },
        {
           "type": "color",
           "id": "tab_text_active_color",
           "label": "Tab Active Color",
           "default": "#333333"
        }
	],
    "blocks": [
		{
			"name": "Custom Tab",
			"type": "custom_tab",
			"settings": [
                {
                    "type": "text",
                    "id": "custom_tab_title",
                    "label": "Custom Tab Title",
                    "default": "Custom Tab"
                },
                {
                    "type": "page",
                    "id": "custom_page_handle",
                    "label": "Select Page",
                    "info": "[Create a page](\/admin\/pages\/new)"
                }			
			]
		},
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

